<section class="thirteen columns">
    <h1>Пройденные курсы</h1>
     <article>
        <header>
            <h1><a href="https://stepik.org/cert/127449">Анализ данных в R</a></h1>
            <span><address>Stepik - Институт биоинформатики</address></span>
        </header>
    </article>
    <article>
        <header>
            <h1><a href="https://stepik.org/cert/111848">Основы статистики</a></h1>
            <span><address>Stepik - Институт биоинформатики</address></span>
        </header>
    </article>
    <article>
        <header>
            <h1><a href="https://www.intuit.ru/verifydiplomas/101141748">Основы операционных систем</a></h1>
            <span><address>НОУ Интуит - Московский физико-технический институт</address></span>
        </header>
    </article>
</section>
