<section class="thirteen columns">
    <h1>Образование</h1>
    <article>
        <header>
            <h1>Магистратура </h1>
            <span>Искусственный интеллект и большие данные</span>
            <span><address>ДВФУ</address><time>2018 по 2020 гг.</time></span>
        </header>
        <p>Направление: Прикладная информатика</p>
        <p>
            <em>Тема ВКР: Прогнозирование спроса на алкогольную продукцию.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Бакалавр </h1>
            <span>Математическое обеспечение и администрирование информационных систем</span>
            <span><address>ДВФУ</address><time>2014 по 2018 гг.</time></span>
        </header>
        <p>
            <em>Тема ВКР: Исследование корреляции эмоциональных ожиданий в потоке новостей валютного рынка.</em>
        </p>
    </article>
</section>
