<section class="thirteen columns">
    <h1>Опыт работы</h1>
    <article>
        <header>
            <h1>Производственная практика</h1>
            <span><address>ООО «АСУ»</address><time>Июнь – Июль 2018 г.</time></span>
        </header>
        <p>Посещение лекций и получение практических навыков по разработке на платформе 1с. </p>
    </article>
    <article>
        <header>
            <h1>Производственная практика</h1>
            <span><address>АО «Изумруд»</address><time>Июль 2017 г.</time></span>
        </header>
        <p>Fullstack web разработка внутренней системы документооборота.</p>
    </article>
    <article>
        <header>
            <h1>Backend программист</h1>
            <span><address>ООО»Сейчас» </address><time>Апрель – Июнь 2017 г. </time></span>
        </header>
        <p>Разработка серверной части и административной панели мобильного приложения “Сейчас".</p>
    </article>
    <article>
        <header>
            <h1>Стажировка</h1>
            <span><address>ООО»Арсенал-медиа»</address><time>Июль – Ноябрь 2016 г.</time></span>
        </header>
        <p> Разработка telegram бота. </p>
    </article>
    <article>
        <header>
            <h1>Производственная практика</h1>
            <span><address>ООО «Ронда Лтд» </address><time>Июнь 2016 г.</time></span>
        </header>
        <p> Посещение лекций и получение практических навыков по промыщленной разработке ПО. </p>
    </article>
</section>
