<section class="thirteen columns" xmlns:max-width="http://www.w3.org/1999/xhtml">
    <h1>Опыт работы</h1>
      <article>
        <header>
            <h1>Системный аналитик</h1>
            <span><address>ГК «Владлинк»</address><time>Июнь 2020 г. – Настоящее время</time></span>
        </header>
        <li>Описание моделей текущих процессов. Анализировать текущие процессы: причины, результаты, трудности; с целью улучшения их моделей путем развития соответствующих систем</li>
        <li>Участие в подготовке требований. Встречаться с заказчиками (сотрудниками компании), выявлять и анализировать причины их потребностей, чтобы формировать ясные и четкие требования к системам</li>
        <li>Прогнозирование развития систем. Предсказать логику расширения программных систем при различных сценариях, заложив возможные векторы последующего развития на этапе описания проекта</li>
        <li>Написание ТЗ. Подготавливать подробные и точные описания систем, чтобы ими мог уверенно руководствоваться исполнитель (разработчик), а наблюдатель мог оценить объём выполненной работы</li>
        <li>Сопровождение реализации. Следить за ходом разработки и понимать на каком этапе она сейчас, иметь общий прогноз завершения; своевременно информировать о задержках</li>
        <li>Прием и оценка проекта. Участвовать в предварительном тестировании реализованной системы; если требуется, своевременно выявить и описать ошибки исполнителю, вернуть на доработку</li>
    </article>
    <article>
        <header>
            <h1>Специалист по внедрению и сопровождению WMS/TMS</h1>
            <span><address>ГК «Дилан»</address><time>Сентябрь 2019 г. – Июнь 2020 г.</time></span>
        </header>
        <li>Коммуникация с разработчиками учетных систем (составление ТЗ по новым функционалам, тестирование изменений в системах), общение с технической поддержкой</li>
        <li>Помощь в обучении сотрудников отдела логистики работе в учетных системах</li>
        <li>Участие в оптимизации зон складов</li>
        <li>Помощь в решении проблем в учетных системах</li>
        <li>Создание и доработка операционных и долгосрочных отчетов для отдела логистики в Excel, Power BI, 1c</li>
        <li>Анализ и разработка ключевых индикаторов деятельности для работников отдела логистики</li>
        <li>Участие во внедрении WMS и TMS</li>
    </article>
    <article>
        <header>
            <h1>Аналитик</h1>
            <span><address>ГК «Дилан»</address><time>Июнь 2019 г. – Август 2019 г.</time></span>
        </header>
        <li>Создание и доработка операционных и долгосрочных отчетов для отдела логистики в Excel, Power BI</li>
        <li>Написание аналитических записок</li>
        <li>Блок делопроизводства в рамках должности;</li>
    </article>
    <article>
        <header>
            <h1>Ассистент аналитика</h1>
            <span><address>ГК «Реми»</address><time>Октябрь 2018г – Июнь 2019 г.</time></span>
        </header>
        <li>Обработка и анализ информации, полученной от служб мониторинга и внутреннего аудита</li>
        <li>Структурирование данных, формирование сводных таблиц в Excel, работа с базами данных</li>
        <li>Проведение сравнительного анализа</li>
        <li>Анализ ассортиментной и ценовой политики конкурентов</li>
    </article>
    <article>
        <header>
            <h1>Производственная практика</h1>
            <span><address>АО «Изумруд»</address><time>Июль 2017 г.</time></span>
        </header>
        <p>Fullstack web разработка внутренней системы документооборота на C# и Angular 4 JS framework</p>
        <li>Devexpress framework</li>
        <li>Entity framework</li>
        <li>Devextreme</li>
    </article>
    <article>
        <header>
            <h1>Backend программист</h1>
            <span><address>ООО «Сейчас» </address><time>Апрель – Июнь 2017 г. </time></span>
        </header>
        <p>Разработка серверной части и административной панели мобильного приложения “Сейчас" на PHP .</p>
        <i class="icon-symfony"></i> Symfony 2 & Twig<br>
        <i class="devicon-doctrine-plain"></i>Doctrine<br>
    </article>
    <article>
        <header>
            <h1>Стажировка</h1>
            <span><address>ООО «Арсенал-медиа»</address><time>Июль – Ноябрь 2016 г.</time></span>
        </header>
        <p> Разработка telegram бота для личного кабинета платежной системы ArsenalPay. </p>
        <i class="icon-backbone"></i> Backbone.js <br>
        <i class="icon-spring"></i> Spring Boot<br>
        <i class="fab fa-telegram"></i> TelegramBots@rubenlagus
    </article>
</section>
