<section class="thirteen columns" xmlns:max-width="http://www.w3.org/1999/xhtml">
    <h1>Опыт работы</h1>
    <article>
        <header>
            <h1>Специалист по внедрению и сопровождению WMS/TMS</h1>
            <span><address>ГК «Дилан»</address><time>Сентябрь 2019 г. – <b>Настоящее время</b></time></span>
        </header>
        <li>Коммуникация с разработчиками WMS и TMS систем (составление ТЗ по новым функционалам, тестирование изменений в системах), общение с технической поддержкой</li>
        <li>Помощь в обучении сотрудников отделов логистики и ИТ работе в WMS и TMS</li>
        <li>Участие в оптимизации зон складов</li>
        <li>Настройка оборудования (принтеры этикеток, терминалы сбора данных и тд), коммуникация с поставщиками (заказ нового оборудования)</li>
        <li>Взаимодействие с отделом бизнес-информации</li>
        <li>Настройка и решение проблем в WMS и TMS занесенных данных</li>
    </article>
    <article>
        <header>
            <h1>Аналитик</h1>
            <span><address>ГК «Дилан»</address><time>Июнь 2019 г. – <b>Август 2019 г.</b></time></span>
        </header>
        <li>Подготовка презентаций и форм отчётности, сведение ключевых индикаторов деятельности</li>
        <li>Написание аналитических записок</li>
        <li>Участие в подготовке планирования;</li>
        <li>Формирование отчетов по запросу руководителей службы логистики</li>
        <li>Взаимодействие с отделом бизнес-информации</li>
        <li>Блок делопроизводства в рамках должности;</li>
    </article>
    <article>
        <header>
            <h1>Ассистент аналитика</h1>
            <span><address>ГК «Реми»</address><time>Октябрь 2018г – <b>Июнь 2019 г.</b></time></span>
        </header>
        <li>Обработка и анализ информации, полученной от служб мониторинга и внутреннего аудита</li>
        <li>Структурирование данных, формирование сводных таблиц в Excel, работа с базами данных</li>
        <li>Проведение сравнительного анализа</li>
        <li>Анализ ассортиментной и ценовой политики конкурентов</li>
    </article>
    <article>
        <header>
            <h1>Производственная практика</h1>
            <span><address>АО «Изумруд»</address><time>Июль 2017 г.</time></span>
        </header>
        <p>Fullstack web разработка внутренней системы документооборота на C# и Angular 4 JS framework</p>
        <li>Devexpress framework</li>
        <li>Entity framework</li>
        <li>Devextreme</li>
    </article>
    <article>
        <header>
            <h1>Backend программист</h1>
            <span><address>ООО «Сейчас» </address><time>Апрель – Июнь 2017 г. </time></span>
        </header>
        <p>Разработка серверной части и административной панели мобильного приложения “Сейчас" на PHP .</p>
        <i class="icon-symfony"></i> Symfony 2 & Twig<br>
        <i class="devicon-doctrine-plain"></i>Doctrine<br>
    </article>
    <article>
        <header>
            <h1>Стажировка</h1>
            <span><address>ООО «Арсенал-медиа»</address><time>Июль – Ноябрь 2016 г.</time></span>
        </header>
        <p> Разработка telegram бота для личного кабинета платежной системы ArsenalPay. </p>
        <i class="icon-backbone"></i> Backbone.js <br>
        <i class="icon-spring"></i> Spring Boot<br>
        <i class="fab fa-telegram"></i> TelegramBots@rubenlagus
    </article>
</section>
