<section class="thirteen columns">
    <h1>Достижения</h1>
     <article>
        <header>
            <h1>HACKATHON BigData AI</h1>
            <span><address>ДВФУ</address><time>Декабрь 2019г.</time></span>
        </header>
        <p>
            SARIMA и презентация проекта
        </p>
        <u><a href="https://gitlab.com/leetim/forecast-exchange">https://gitlab.com/leetim/forecast-exchange</a></u>
         <br>
        <u><a href="https://drive.google.com/open?id=1PVNagIEm79yhxbSUUWIJULtOwQro1EBn">Презентация</a></u>
    </article>
     <article>
        <header>
            <h1>Тихоокеанская проектная школа</h1>
            <span><address>ДВФУ</address><time>Март - Апрель 2019 г.</time></span>
        </header>
        <p>
            Наставник группы разработки рекомендательной системы.
        </p>
        <u><a href="https://github.com/MrFox131/chemist-AI">https://github.com/MrFox131/chemist-AI</a></u>
    </article>
        <article>
        <header>
            <h1>ACM International Collegiate Programming Contest</h1>
            <span><address>ДВФУ</address><time>Апрель 2017 г.</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Blockchain хакатон</h1>
            <span><address>ДВФУ</address><time>Апрель 2017 г.</time></span>
        </header>
        <p>
            Реализация веб интерфейса.
        </p>
        <u><a href="https://github.com/rybakisa/bug_chain/tree/web-interface">https://github.com/rybakisa/bug_chain</a></u>
    </article>
</section>
